body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.partial-color{
    color: orange;
}
.flexible{
    display: flex;
    padding-bottom: 3%;
}
.width{
    width: 50%;
    padding-left: 2%;
    padding-bottom: 50%;
}
.button-color{
      text-decoration: none;
      background-image: linear-gradient(orange, tomato);
      padding: 10px 50px;
      color: white;
      font-weight: 700;
      border-radius: 5px;
}
